<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="container mt-5 d-flex justify-content-center">
            <div id="chatContainer" class="card p-3 mb-5" style="background-color:cornflowerblue; width:500px;" >
                <h1 style="color:blue;" class="text-center">Center of messages</h1>
                <br>
                <form id="chatForm">
                    <hr/>
                    <div id='chat'></div>
                    <hr/>
                    <div class="form-floating mb-3">
                        <input id="email" class="form-control" type="text" name="email" placeholder="Email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="message" class="form-control" type="text" name="message" placeholder="Message">
                        <label for="message">Message</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary mt-3" id="sendMessage">Send</button>
                    </div>
                </form>
                <a class="btn btn-info mt-3" href="/"><i class="bi bi-house"></i> Home</a>
            </div>
        </div>
        <script type="module" src="../js/main.js"></script>
    </body>
</html>