<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cart</title>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/navbar') %>
        <input type="password" id="cart" value="<%=user.cart%>" hidden="true">
        <div class="container d-flex justify-content-center mt-5">
          <h1>Cart</h1>
        </div>
        <section class="h-100">
          <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center h-100" id="card-product">
              
            </div>
          </div>
        </section>
        <script type="module" src="js/cart.js"></script>
    </body>
</html>