<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
        <%- include('../partials/head') %>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="container mt-5 d-flex justify-content-center">
            <div id="chatContainer" class="card p-3 mb-5" style="background-color:cornflowerblue; width:500px;" >
                <h1 style="color:blue;" class="text-center">Center of messages</h1>
                <br>
                <form id="chatForm">
                    <hr/>
                    <div id='chat'></div>
                    <hr/>
                    <div class="form-floating mb-3">
                        <input id="text" class="form-control" type="text" name="text" placeholder="Text">
                        <label for="text">Text</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary mt-3" id="sendMessage">Send</button>
                    </div>
                </form>
                <a class="btn btn-info mt-3" href="/"><i class="bi bi-house"></i> Home</a>
            </div>
        </div>
        <script type="module" src="js/chat.js"></script>
    </body>
</html>