<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Product</title>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="container mt-5 mb-5 d-flex justify-content-center">
            <div class="card p-3" style="background-color:coral; width:500px;" >
                <h2 class="text-center">Enter the product</h2>
                <br>
                <form action="/api/productos" method="post">
                    <div class="form-floating mb-3">
                        <input id="nombre" class="form-control" type="text" name="nombre" placeholder="Title">
                        <label for="nombre">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="descripcion" class="form-control" type="text" name="descripcion" placeholder="Description">
                        <label for="descripcion">Description</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="codigo" class="form-control" type="text" name="codigo" placeholder="Code">
                        <label for="codigo">Code</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="precio" class="form-control" type="number" name="precio" placeholder="Price">
                        <label for="precio">Price</label>
                    </div>            
                    <div class="form-floating mb-3">
                        <input id="foto" class="form-control" type="text" name="foto" placeholder="Thumbnail">
                        <label for="foto">Thumbnail</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="stock" class="form-control" type="number" name="stock" placeholder="Stock">
                        <label for="stock">Stock</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary mt-3" id="send"><i class="bi bi-save"></i> Save</button>
                    </div>
                </form>
                <a class="btn btn-info mt-3" href="/"><i class="bi bi-house"></i> Home</a>
            </div>
        </div>
        <script type="module" src="js/main.js"></script>
    </body>
</html>