<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anabits-Products</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-5">
            <% if(products.length > 0){ %>
                <h1 style="color:blue;" class="d-flex justify-content-center mb-3">List of products</h1>
                <div class="table-responsive d-flex justify-content-center" >
                    <table class="table table-dark align-middle text-center" style="width: 500px;">
                        <tr style="color: yellow;"> <th>Title</th> <th>Price</th> <th>Thumbnail</th> </tr>
                        <%for (let product of products) {%>
                        <tr>
                            <td><%=product.title%></td>
                            <td><%=product.price%></td>
                            <td><img src="<%=product.thumbnail%>" width="150"></td>
                        </tr>
                        <%}%>
                    </table>
                </div>
            <% } else{ %>
                <h3 class="alert alert-danger">No data found</h3>
            <% } %>
            <div class="d-flex justify-content-center">
                <a class="btn btn-info mt-3" href="/">Go back to form</a>
            </div>
        </div>
    </body>
</html>