<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anabits</title>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/navbar') %>
        <div>
            <input type="password" id="cartID" value="<%=user.cart%>" hidden="true">
            <div class="container d-flex justify-content-center">
                <h4 class="text-center mt-4" >Welcome <%=user.nombre%></h4>
            </div>
            <h1 class="text-center mt-4" >Products</h1>
            <div id="productsContainer" class="card-group justify-content-center p-4"></div>
            <script type="module" src="js/products.js"></script>
        </div>
    </body>
</html>