<nav class="navbar navbar-expand-lg" style="background-color: #5CB8E4;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/backend-development.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        Anabits
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="btn" href="/addProduct"><i class="bi bi-plus-circle"></i> Add Product</a>
          </li>
          <li class="nav-item">
            <a class="btn" href="/chat"><i class="bi bi-chat"></i> Enter Chat</a>
          </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn" href="/cart"><i class="bi bi-cart2"></i> Cart</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/profile"><i class="bi bi-person-circle"></i> Profile</a>
            </li>
            <li class="nav-item">
                <button class="btn" id="logoutBtn"><i class="bi bi-door-closed"></i> Log out</button>
            </li>
        </ul>
      </div>
    </div>
</nav>